/*Только в отзывах*/
#comment p {
	text-indent: 25px;
	margin: 0;
}
#comment a {
	margin: 0 2px 10px;
	float: right;
}
.surname {
	font-family: 'Comic Sans MS', Verdana, 'Lucida Sans Unicode';
	color: #656565;
	font-size: 130%;
	font-weight: bold;
	border-radius: 10px 0 0 0;
}
.surname, .cloud1, .cloud2 {
	background-color: #FDFDFD;
	border: 10px solid #FDFDFD;
}
.cloud1 {
	border-radius: 0 10px 10px 10px;
}
.cloud2 {
	border-radius: 0 0 0 10px;
}
#footer {
	clear: both;
}