/*Только в контактах*/
h3 {
	font-family: 'Comic Sans MS', Verdana, 'Lucida Sans Unicode';
	text-align: center;
	font-size: 120%;
	color: #00aa00;	
}
#contacts table td:nth-of-type(even) {
	text-align: left;
	color: #550055;
	font-size: 105%;
	font-style: italic;
}
#contacts table td:nth-of-type(odd) {
	text-align: right;
	color: #005555;
	font-size: 125%;
	text-decoration: underline;
	font-weight: bold;
} 
