/*Только в доставке*/
h3 {
	font-size: 120%;
}
#dlvr {
	width: 70%;
	margin: 0 auto;
	background-color: #FDFDFD;
	border: 10px solid #FDFDFD;
	border-radius: 10px;
}
#dlvr p {
	font-family: 'Comic Sans MS', Verdana, 'Lucida Sans Unicode';
	text-align: left;
	color: #656565;
	font-size: 105%;
	font-style: italic;
	text-indent: 30px;
}
