/*Общий для всех*/
body {
	margin: 0;
	padding: 0;
	background-color: #B3FFB3;
}
h1, h2, h3, h4 {
	font-family: 'Comic Sans MS', Verdana, 'Lucida Sans Unicode';
	text-align: center;
	color: #656565;
}

#overheader {
	max-width: 1080px;
	margin: 0 auto;
	text-align: center;
	background-color: #FDFDFD;
	border: 10px solid #FDFDFD;
	border-radius: 10px;
}
#wndw {
	width: 100%; 
	overflow: hidden;
	margin: 0 auto;
}
#pic {
	width: 4200px;
	position: relative;
	left: 0;
	text-align: left;
}
img{
	margin: 0 -2px;
	vertical-align: middle;
}
.dim:hover {
	opacity: 1.0;
}
.wider img {
	margin: 0;
}
.dim  {
	opacity: 0.3;
}

#content {
	max-width: 1100px;
	margin: 0 auto;
	clear: both;
}

#header, #footer {
	margin: 7px auto;
	background-color: #9ADD9A;
	border: 1px solid #9ADD9A;
	border-radius: 10px;
}
#header img {
	vertical-align: middle;
	margin: 3px 0;
}
#header td {
	border: 1px solid #9ADD9A;
	border-radius: 10px;
}
#header td:hover  {
	background-color: #77BB77;
	border: 1px solid #77BB77;
	border-radius: 10px;
}
#header td span  {
	margin: 0 0 0 10px;
}
.menu, #inmenu , #footer {
	font-family: 'Comic Sans MS', Verdana, 'Lucida Sans Unicode';
	text-decoration: none;
	color: #333333;
}
.menu {
	font-size: 130%;
	font-weight: bold;
}
#inmenu , #footer {
	vertical-align: middle;
}