/*Только на главной*/
#search {
	float: right;
	width: 30%;
}
#search b {
	font-family: 'Comic Sans MS', Verdana, 'Lucida Sans Unicode';
	font-size: 80%;
	text-decoration: underline;
	color: #00AA00;
}
#pluto {
	display: inline-block;
	width: 60px;
	height: 60px;
}
/*
#pluto:hover {
	opacity: 0.0;
	background-image: url("../pictures/plutoserves.png");
}
*/
#greeting  {
	width: 70%;
	text-align: center;
}
#greeting p {
	display: block;
	margin: 0 auto;
	width: 40%;
}
#greeting span {
	font-size: 150%;
	color: #FF0000;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
	font-size: 80%;
}

#goods img {
	width: 100%;
}