/*Только на главной*/
#search {
	float: right;
	width: 30%;
}
#search b {
	font-family: 'Comic Sans MS', Verdana, 'Lucida Sans Unicode';
	font-size: 80%;
	text-decoration: underline;
	color: #00AA00;
	vertical-align: bottom;
}
#pluto {
	display: inline-block;
	width: 60px;
	height: 60px;
	vertical-align: bottom;
}


/*Всё приветствие будет полностью переделываться, естественно...*/
		#greeting  {
			width: 70%;
			text-align: center;
		}
		#greeting p {
			display: block;
			margin: 0 auto;
			width: 40%;
		}
		#greeting span {
			font-size: 150%;
			color: #FF0000;
		}
		.left {
			text-align: left;
		}
		.right {
			text-align: right;
			font-size: 80%;
		}



#goods td {
	text-align: center;
}
#goods img {
	border: 10px solid #FDFDFD;
	border-radius: 10px;
	margin: 0;
}
#goods img:hover {
	border-color: green;
}