/*Только в оформлении заказа*/
#back {
	position: fixed;
	left: 7px;
	top: 7px;
	padding: 1px 7px;
	background-color: #909090;
	border: 3px ridge #5A5A5A;
	border-radius: 10px;
}
#back a {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 120%;
	font-weight: bold;
}
#ord {
	width: 70%;
	margin: 0 auto;
}
#ord table b {
	font-size: 150%;
}
#ord table img {
	width: 60%;
}
#ord table b {
	font-size: 130%;
}
.td1 {
	text-align: left;
	color: #550055;
	font-size: 105%;
	font-style: italic;
}
.td2 {
	text-align: center;
	color: #005555;
	font-size: 125%;
	text-decoration: underline;
	font-weight: bold;
}
#ord input[type='image'] {
	opacity: 0.4;
}
#ord input[type='image']:hover {
	opacity: 1.0;
}