/*Только в товаре*/
#multlist {
	width: 15%;
	float: left;
	height: 992px;
	overflow: auto;
}
#multlist div {
	text-align: center;
	background-color: #FDFDFD;
	border: 10px solid #FDFDFD;
	border-radius: 10px;
}
.catp {
	margin: 0;
	text-indent: 10px;
	color: #00aa00;
	font-size: 105%;
	font-weight: bold;
}
.catp:hover {
	color: #880000;
}
.dim {
	opacity: 0.3;
}
.dim:hover {
	opacity: 1.0;
}
.imgleft {
	width: 83%;
	margin: 0 -1px 0 0;
	border: 10px solid #FDFDFD;
	border-radius: 10px;
}
.imgleft:hover {
	border-color: green;
}
#changer {
	margin: 0 auto;
	background-color: #FDFDFD;
	border: 10px solid #FDFDFD;
	border-radius: 10px;
	text-align: center;
	max-width: 522px;
	overflow: hidden;
}
.line {
	width: 40px;
}
#gap {
	width: 432px;
}
.line, #gap {
	vertical-align: middle;
	display: inline-block;
	overflow: hidden;
}
.line img{
	width: 100%;
}
#strip {
	width: 1200px;
	position: relative;
	left: 0;
	text-align: left;
}
#strip  img {
	vertical-align: middle;
	height: 60px;
	margin: 0 -1px;
}
#item {
	width: 75%;
	padding: 0 5%;
	clear: right;
	text-align: center;
	overflow: hidden;
}
h1 {
	font-family: 'Comic Sans MS', Verdana, 'Lucida Sans Unicode';
	text-align: center;
	color: #00aa00;	
}

#big {
	width: 55%;
	float: left;
	margin: 0 8% 3% 15%;
}
#big img {
	width: 100%;
	border: 20px solid #FDFDFD;
	border-radius: 20px;

}
#small {
	width: 5.5%;
	overflow: hidden;
	text-align: center;
	background-color: #FDFDFD;
	border: 5px solid #FDFDFD;
	border-radius: 5px;
}
#small img {
	width: 80%;
	margin: 2px;
}

#item table {
	background-color: #FDFDFD;
	border: 10px solid #FDFDFD;
	border-radius: 10px;
}
#item table td:nth-of-type(even) {
	text-align: left;
}
#item table td:nth-of-type(odd) {
	color: #005555;
	font-size: 125%;
	text-decoration: underline;
	font-weight: bold;
	text-align: right;
} 
#item form {
	text-align: left;
	margin: 0 0 0 12%;
}

#footer {
	clear: both;
}